<html>
    <head>
        <title>Manim</title>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://unpkg.com/common-tags"></script>
    </head>
    <body>
        <div id="app">
            <div class="sidebar">
                <h1>manim</h1>
                <h4 class="subheading">Mobjects</h4>
                <div class="mobject" v-for="mobject in mobjects" @click="jumpTo(mobject.time)">
                    <h3 class="mobject__title">{{ mobject.title }}</h3>
                </div>
            </div>
            <div>
                <div class="play-pause" @click="playPause();paused=!paused">
                    <i class="fas fa-play" v-if="paused"></i>
                    <i class="fas fa-pause" v-else></i>
                </div>
                <video id="manimVid" autoplay muted :src="src"></video> 
                <pre id="code"></pre> 
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</html>